{% extends 'base.html' %}

{% block content %}
<h1>im displaying</h1>
 <div class="row container mt-5">  
   <div>
{% for photo in image %}
<div class="card" style="width: 25vw;">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="{{photo.image.url}}" class="img-fluid" style="width: 25vw;"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{photo.img_name}}</h5>
      <button type="button" class="btn btn-light" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
          VIEW DETAILS
      </button>
    </div>
  </div>

  <!--modal popup-->
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{photo.img_name}}</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{photo.img_description}}</p>
        <p>{{photo.img_category}}</p>
        <p>{{photo.img_location}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor%}

</div>
</div>

  {% endblock %}