<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex input-group w-auto" role="search" action="{% url 'search_images'%}" >
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <div class="input-group-btn">
          <button class="btn-primary btn-default ms-4" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
        </div>
      </form>
    </div>
  </nav>